.delete-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem
}

.delete-spot-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-confirmation-text {
    text-align: center;
    line-height: 2em;
}

.delete-spot-modal-buttons {
    display: flex;
    flex-direction: column;

}

.delete-spot-modal-buttons > button {
    border: none;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #ddd;
    height: 5vh;
}

.delete-spot-modal-buttons > button:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    cursor: pointer;
}


#delete-spot-modal-delete-button {
    margin-top: 4vh;
    margin-bottom: 5px;
    background-color: #FE6DB6;
    color: white;
}


#delete-spot-modal-keep-button {
    margin-top: 5px;
}
