.card-div {
    margin: 20px 10px;
    box-sizing: border-box;
}



.spot-info {
    display: flex;
    flex-direction: column;
}

/* .tooltip {
    position: relative;
    display: inline-block;
  }


  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ff6db6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */


.name-and-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.spot-name {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}

.price {
    margin: 0;
    font-size: 14px;
}

.city {
    margin-top: 0;
    color: #7F7F7F;
}

div > img {
    width: 330px;
    height: 300px;
    border-radius: 12px;
    transition: transform 0.5s;
}

.landing-page-spot-container {
    color: black;
}

.review-span {
    text-align: right;
    display: flex;
    gap: 5px;
    font-size: 13px;
}

.image-div-2 {
    width: 100%;
        height: 100%;
        border-radius: 12px;
        /* Adjust the border-radius as needed */
        overflow: hidden;
}


.image-div-2 > img:hover {
transform: scale(1.1);
}

.image-div {
    overflow: hidden;
    position: relative;
}
