.card-div {
    margin: 20px 20px;
    box-sizing: border-box;
}



.spot-info {
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: relative;
    display: inline-block;
  }


  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ff6db6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


.name-and-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.spot-name {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-top: 0;
}

.price {
    margin: 0 0
}

.city {
    margin-top: 0;
}

div > img {
    width: 280px;
    height: 250px;
    border-radius: 12px;
}

.landing-page-spot-container {
    color: black;
}

.review-span {
    text-align: right;
}
