.user-spot-submission-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-spot-submission-form button {
    margin-top: 5vh;
    border: .5px solid #ddd;
    border-radius: 8px;
    height: 10vh;
    width: 27.8vw;
    font-family: 'Montserrat', sans-serif;
}

.user-spot-submission-form button:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    cursor: pointer;
}


.new-spot-create-form {
    display: flex;
    align-items: center
}

.user-spot-submission-form .new-spot-create-form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    max-width: 25vw;
}

.new-spot-create-form input {
    width: 25vw;
    margin-bottom: 20px;
    margin-top: 6px;
    border-radius: 8px;
    height: 4vh;
    border: 1px solid #b7a6a6;
    display: flex;
}

#create-spot-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25vh;
}

.create-spot-form-field {
    display: flex;
    flex-direction: row;
}

#create-spot-description {
    width: 25vw;
    height: 20vh;
    margin-bottom: 3vh;
}

.creation-errors {
    color: red;
}
