.hidden {
    display: none;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightgray 1.5px;;
}

.profile-button {
  border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    letter-spacing: 5px;
    color: #fff;
    background: #ff6db6;
    margin-right: 60px;
    cursor: pointer;
}

.profile-button:hover {
    background: #ff6b6b;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .right-hand-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fa-solid.fa-globe {
    margin-right: 30px;
  }

.home-text {
    font-family: 'Mr Dafoe', cursive;
    font-size: 60px;
    text-decoration: none;
}

.logo-text {
    color: #ff6db6;
    text-shadow: 2px 2px #ff94a9, -2px -2px #fffff0;
    margin-left: 60px;
}

.logo-text:hover {
    color: #ff6b6b;
    text-shadow: 2px 2px #ff94a9, -2px -2px #fffff0;
}


.active {
    text-decoration: none;
  }


  .profile-dropdown {
    position: absolute;
    border: 1px solid #ddd;
    padding: 10px 10px;
    transform: translateX(-100px);
    border-radius: 20px;
    z-index: 1;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
  }

  .profile-dropdown li {
    list-style: none;
  }


  #list-your-spot {
    margin-right: 20px;
  }
